<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %>| </title>

    <!-- Bootstrap -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap-select -->
    <link href="/vendor/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendor/nprogress/nprogress.css" rel="stylesheet">
    <!-- jQuery custom content scroller -->
    <link href="/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
    <!--Sweet Alert 2-->
    <link href="/vendor/sweetalert/sweetalert.css" rel="stylesheet"/>
    <!-- Custom Theme Style -->
    <link href="/vendor/student/css/custom.min.css" rel="stylesheet">
</head>