<html>
<head>
    <%- include('./lecturer.head.ejs', {title: "Lecturers"}) %>
    <link href="\vendor\UI-Dropdown-master\dropdown.min.css" rel="stylesheet">
</head>
<% var lecturer ={
    "name":"Nguyễn Văn B",
    "rank":"Tiến sĩ",
    "unit":"Bộ môn công nghệ phần mềm",
    "research":"Kiểm thử phần mềm",
    "subjects":["Tin học cơ sở 1","Lập trình nâng cao","Kiểm thử phần mềm"],
    "email":"abc@gmail.com",
    "avatar":"/img/250x250.png"
};%>
<body >
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin">Thesis MGR</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/lec/profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- NAVBAR CODE END -->
    </nav>

    <div class="container">
        <form id="profile" method="post" >
            <section style="padding-bottom: 50px; padding-top: 50px;">
                <div class="row">
                    <div class="col-md-4">
                        <img src="<%= lecturer.avatar%>" class="img-rounded img-responsive" />
                        <br />
                        <br /> <label>Thay ảnh đại diện</label>
                        <input type="file" name="avatar" value="avatar">
                        <br /><br/>
                    </div>
                    <div class="col-md-8">
                        <div class="alert alert-info">
                            <h2>Vui lòng hoàn thành mẫu dưới đây</h2>
                        </div>

                        <div class="form-group col-md-8">
                            <h3>Thông tin giảng viên </h3>
                            <div class="form-group">
                                <label for="name">Họ và tên:</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="rank">Học hàm, học vị:</label>
                                <select class="ui dropdown" name="ramk" form="profile">
                                    <option></option>
                                    <option value="1">Thạc sĩ</option>
                                    <option value="2">Tiến sĩ</option>
                                    <option value="3">Phó giáo sư</option>
                                    <option value="4">Giáo sư</option>
                                </select>
                            </div>
                            <div class="form-group">

                                <label for="username">Đơn vị:</label>
                                <select class="ui  selection dropdown" name="unit" form="profile" >
                                    <option></option>
                                    <optgroup label="Công nghệ thông tin">
                                        <option value="1">Công nghệ phần mềm</option>
                                        <option value="2">Khoa học máy tính </option>
                                        <option value="3">Hệ thống thông tin</option>
                                        <option value="4">Truyền thông và mạng máy tính</option>
                                    </optgroup>
                                    <optgroup label="Điện tử viễn thông">
                                        <option value="5">Kết nối không dây</option>
                                        <option value="6">Tín hiệu và hệ thông</option>
                                        <option value="7">Hệ thống vi mô</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="research">Hướng nghiên cứu:</label>
                                <input type="text" class="form-control" id="research" name="research">
                            </div>
                            <div class="form-group">
                                <label for="subjects">Môn giảng dạy:</label>
                                <input type="text" class="form-control" id="subjects" name="subjects">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="text" class="form-control" id="email" name="email">
                            </div>
                            <div class="form-group" style="text-align: center">
                                <input type="submit" class="btn btn-primary" value="Cập nhật">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ROW END -->
            </section>
            <!-- SECTION END -->
        </form>
    </div>
    <!-- CONATINER END -->
</div>
<!-- REQUIRED SCRIPTS FILES -->
<!-- CORE JQUERY FILE -->
<script src="\vendor\jquery\jquery.min.js"></script>
<!-- REQUIRED BOOTSTRAP SCRIPTS -->
<script src="\vendor\bootstrap\js\bootstrap.min.js"></script>
<script src="\vendor\UI-Dropdown-master\dropdown.min.js"></script>
</body>

</html>
