<!Doctype html>
<html>
<meta charset="utf-8"/>
<%- include('./lecturer.head.ejs', {title: "Lecturers"}) %>
<link type="text/css" rel="stylesheet" href="/vendor/jotForm/formCss.css">
<link type="text/css" rel="stylesheet" href="/vendor/jotForm/nova.css">
<link type="text/css" rel="stylesheet" href="/vendor/jotForm/printForm.css">
<link type="text/css" rel="stylesheet " href="/vendor/jotForm/form.css">
<script type="text/javascript">
    JotForm.init(function(){
        setTimeout(function() {
            $('input_4').hint('ex: myname@example.com');
        }, 20);
        JotForm.clearFieldOnHide="disable";
        JotForm.onSubmissionError="jumpToFirstError";
    });
</script>

<body>
<div id="wrapper">

    <% include ./lecturer.nav.ejs %>


    <form class="jotform-form" action="#" method="post" name="form_63353280687462" id="63353280687462" accept-charset="utf-8" novalidate="true">
        <input type="hidden" name="formID" value="63353280687462">
        <div class="form-all">
            <ul class="form-section page-section">
                <li id="cid_1" class="form-input-wide" data-type="control_head">
                    <div class="form-header-group">
                        <div class="header-text httal htvam">
                            <h1 id="header_1" class="form-header">
                                Cập nhật thông tin
                            </h1>
                            <div id="subHeader_1" class="form-subHeader">
                                vui lòng hoàn thành mẫu dưới đây
                            </div>
                        </div>
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_fullname" id="id_3">
                    <label class="form-label form-label-left form-label-auto" id="label_3" for="input_3">
                        Họ và tên
                        <span class="form-required">
            *
          </span>
                    </label>
                    <div id="cid_3" class="form-input jf-required">
          <span class="form-sub-label-container" style="vertical-align: top;">
            <input class="form-textbox" type="text" name="q3_hoVa[prefix]" size="4" id="prefix_3">
            <label class="form-sub-label" for="prefix_3" id="sublabel_prefix" style="min-height: 13px;"> Prefix </label>
          </span>
                        <span class="form-sub-label-container" style="vertical-align: top;">
            <input class="form-textbox validate[required]" type="text" size="10" name="q3_hoVa[first]" id="first_3">
            <label class="form-sub-label" for="first_3" id="sublabel_first" style="min-height: 13px;"> First Name </label>
          </span>
                        <span class="form-sub-label-container" style="vertical-align: top;">
            <input class="form-textbox validate[required]" type="text" size="15" name="q3_hoVa[last]" id="last_3">
            <label class="form-sub-label" for="last_3" id="sublabel_last" style="min-height: 13px;"> Last Name </label>
          </span>
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_textbox" id="id_16">
                    <label class="form-label form-label-left form-label-auto" id="label_16" for="input_16">
                        Mã Giảng viên
                        <span class="form-required">
            *
          </span>
                    </label>
                    <div id="cid_16" class="form-input jf-required">
                        <input type="text" class=" form-textbox validate[required, Numeric]" data-type="input-textbox" id="input_16" name="q16_maSinh16" size="8" value="">
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_textbox" id="id_15">
                    <label class="form-label form-label-left form-label-auto" id="label_15" for="input_15">
                        Địa chỉ
                        <span class="form-required">
            *
          </span>
                    </label>
                    <div id="cid_15" class="form-input jf-required">
                        <input type="text" class=" form-textbox validate[required]" data-type="input-textbox" id="input_15" name="q15_diaChi" size="20" value="">
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_dropdown" id="id_14">
                    <label class="form-label form-label-left form-label-auto" id="label_14" for="input_14">
                        Khoa
                        <span class="form-required">
            *
          </span>
                    </label>
                    <div id="cid_14" class="form-input jf-required">
                        <select class="form-dropdown validate[required]" style="width:150px;" id="input_14" name="q14_khoa14">
                            <option value="">  </option>
                            <option value="Option 1"> Option 1 </option>
                            <option value="Option 2"> Option 2 </option>
                            <option value="Option 3"> Option 3 </option>
                        </select>
                    </div>
                </li>
                <li class="form-line" data-type="control_phone" id="id_6">
                    <label class="form-label form-label-left form-label-auto" id="label_6" for="input_6"> Phone Number </label>
                    <div id="cid_6" class="form-input jf-required">
          <span class="form-sub-label-container" style="vertical-align: top;">
            <input class="form-textbox" type="tel" name="q6_phoneNumber6[area]" id="input_6_area" size="3">
            <span class="phone-separate">
              &nbsp;-
            </span>
            <label class="form-sub-label" for="input_6_area" id="sublabel_area" style="min-height: 13px;"> Area Code </label>
          </span>
                        <span class="form-sub-label-container" style="vertical-align: top;">
            <input class="form-textbox" type="tel" name="q6_phoneNumber6[phone]" id="input_6_phone" size="8">
            <label class="form-sub-label" for="input_6_phone" id="sublabel_phone" style="min-height: 13px;"> Phone Number </label>
          </span>
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_email" id="id_4">
                    <label class="form-label form-label-left form-label-auto" id="label_4" for="input_4">
                        E-mail
                        <span class="form-required">
            *
          </span>
                    </label>
                    <div id="cid_4" class="form-input jf-required">
                        <input type="email" class=" form-textbox validate[required, Email]" id="input_4" name="q4_email4" size="30" value="" placeholder="ex: myname@example.com">
                    </div>
                </li>
                <li class="form-line" data-type="control_textarea" id="id_12">
                    <label class="form-label form-label-top" id="label_12" for="input_12"> Thông tin bổ sung: </label>
                    <div id="cid_12" class="form-input-wide jf-required">
                        <textarea id="input_12" class="form-textarea" name="q12_thongTin" cols="60" rows="6"></textarea>
                    </div>
                </li>
                <li class="form-line" data-type="control_button" id="id_2">
                    <div id="cid_2" class="form-input-wide">
                        <div style="text-align:center" class="form-buttons-wrapper">
                            <button id="input_2" type="submit" class="form-submit-button">
                                Cập nhật
                            </button>
                        </div>
                </li>
                <li style="display:none">
                    Should be Empty:
                    <input type="text" name="website" value="">
                </li>
            </ul>
        </div>
    </form>
    <!-- Navigation -->

</div>

<script src="/vendor/jotForm/prototype.forms.js" type="text/javascript"></script>
<script src="/vendor/jotForm/jotform.forms.js" type="text/javascript"></script>
<script type="text/javascript">
    JotForm.showJotFormPowered = true;
    document.getElementById("si" + "mple" + "_spc").value = "63353280687462-63353280687462";
</script>


</body>
</html>
