<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', {title: "ThesisMgr"}) %>

<body>

<div id="wrapper">

    <%- include('./partials/navbar.ejs'), {
        req: req
    }
    %>

    <!-- Navigation -->

    <div id="page-wrapper">

        <div class="container-fluid">
            This is index
        </div>
    </div>


</div>
<!-- /#wrapper -->

<%- include ./partials/scripts.ejs %>

</body>

</html>


