<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/public.head.ejs', {title: "ThesisMgr"}) %>

<% var student={
    "name":"Nguyễn Văn B"
};%>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <%- include ./student.nav.ejs%>
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Fixed Sidebar <small> Just add class <strong>menu_fixed</strong></small></h3>
                    </div>
                </div>
            </div>

        </div>
        <!-- /page content -->
        <%- include('../../partials/public.footer.ejs') %>
    </div>
</div>

<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/vendor/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/vendor/nprogress/nprogress.js"></script>
<!-- jQuery custom content scroller -->
<script src="/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

<script src="/vendor/bootstrap-select/bootstrap-select.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="/vendor/student/js/custom.min.js"></script>
</body>
</html>