<!Doctype html>
<html>
<meta charset="utf-8"/>
<%- include('./search.head.ejs', {title: "Lecturers"}) %>
<body>
<div id="wrapper">

    <% include ./search.nav.ejs %>

    <!-- Navigation -->
    <div id="page-wrapper">
        <form action="" autocomplete="off" class="form-horizontal" method="post" accept-charset="utf-8">
            <div class="input-group">
                <input name="searchtext" value="" class="form-control" type="text">
                <span class="input-group-btn">
               <button class="btn btn-info" type="button" id="addressSearch">
                   <span class="glyphicon glyphicon-search"></span>
               </button>
            </span>
            </div>
            <label class="radio-inline"><input type="radio" name="optradio">Giảng viên</label>
            <label class="radio-inline"><input type="radio" name="optradio">Đề tài</label>
        </form>
    </div>


</div>
<!-- /#wrapper -->

<%- include ./search.script.ejs%>

</body>
</html>
