<!Doctype html>
<html>
<meta charset="utf-8"/>
<%- include('./lecturer.head.ejs', {title: "Lecturers"}) %>
<body>
<div id="wrapper">

    <% include ./lecturer.nav.ejs %>

    <!-- Navigation -->

</div>
<!-- /#wrapper -->

<%- include ./lecturer.script.ejs%>

</body>
</html>
