<!DOCTYPE html>
<html lang="en">

<%- include('../patrials/head.ejs', {title: "ThesisMgr"}) %>

<body>

<div id="wrapper">

    <% include ../patrials/navbar.ejs %>

    <!-- Navigation -->
    <div id="page-wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Field hierachy
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
                <div class="col=lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Add a field
                        </div>
                        <div class="panel-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- /#wrapper -->

<%- include ../patrials/scripts.ejs %>

</body>

</html>




