        <div class="container-fluid">
            <table class="table table-hover table-striped" id="officer_table">
                <thead>
                    <tr>
                        <th class="name">Tên sinh viên</th>
                        <th class="id">MSV</th>
                        <th class="topic">Tên đề tài</th>
                        <th class="details">Lựa chọn</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>

            </table>
            <div style="text-align: center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <% for (var i = 0; i < numberOfPages; i++) {
                            console.log("page: " + (i + 1) + " of " + numberOfPages) %>
                        <li><a class="page-indicator" href="#<%=i+1%>"><%= i + 1 %></a></li>
                        <% } %>

                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
<!-- /#wrapper -->


