
<section style="padding-bottom: 50px; padding-top: 50px;">
    <div class="row">
        <div class="col-md-4">
            <img src="/img/250x250.png" class="img-rounded img-responsive" />
            <br />
            <br />
            <br /><br/>
        </div>
        <div class="col-md-8">
            <div class="alert alert-info">
                <h2>Xin chào <%=lecturer.name%>  </h2>
            </div>
            <div class="form-group col-md-8">
                <h3>Change Your Password</h3>
                <br />
                <label>Enter Old Password</label>
                <input type="password" class="form-control" >
                <label>Enter New Password</label>
                <label id="errNew"></label>
                <input  type="password" class="form-control" id="newPass" autocomplete="off" >

                </br>
                <label>Confirm New Password</label>
                <input type="password" class="form-control" style="color: #4cae4c" id="retypePass" />
                <label id="errMatch"></label>
                <br>
                <a href="#" class="btn btn-warning">Change Password</a>
            </div>
        </div>
    </div>
    <!-- ROW END -->
</section>


