<link href="/dist/css/sb-admin-2.css" rel="stylesheet">
<!-- Navigation -->
<div>
    <h4 class="stu">Sinh viên: <%= topic.name %></h4>
    <h4 class="stu">Mã sinh viên: <%= topic.id %></h4>
    <h2 class="title" style="text-align: center"> Đề tài: <%= topic.topic%></h2>
    <p> <%= topic.details%></p>
    <br><br><br>
</div>
<div class="groupbtn">
    <input type="button" class="btn btn-info backBtn" value="Back">
    <% if(status!=null && status=="pending" ) { %>
    <div style="display: inline-block; float: right;">
        <input type="button" class="btn btn-primary" value="Accept">
        <input type="button" class="btn btn-default" value="Reject">
    </div>
    <%}%>
</div>


