<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/public.head.ejs', {title: "ThesisMgr"}) %>

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <!-- page content -->

        <div class="row">
            <div class="col-md-2 col-sm-1 col-xs-0">
            </div>
            <div class="col-md-8 col-sm-10 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">Đổi mật khẩu</div>
                    <div class="x_content">

                        <div class="row alert-container">
                            <!-- show any messages that come back with authentication -->

                            <% if (message && message.length > 0) { %>
                            <div class="alert alert-danger alert-dismissible fade in" role="alert" id="error-alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Error!</strong>
                                <p id="error-alert-message" style="white-space:pre-wrap;"><%= message %></p>
                            </div>
                            <% } %>

                        </div>

                        <form class="form-horizontal form-label-left"
                              action="/change-password-first-time?token=<%=req.query.token%>" method="POST" id="form">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Mật khẩu
                                    mới</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="password" class="form-control" id="new-password" name="new_password" autocomplete="off">
                                    <label id="errNew"></label>
                                </div>

                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nhập lại mật
                                    khẩu mới</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="password" class="form-control" style="color: #4cae4c"
                                           id="retype-new-password"/>
                                    <label id="errMatch"></label>
                                </div>

                            </div>

                            <div class="form-group" style="text-align: center">
                                <button type="submit" class="btn btn-primary">Change Password</button>
                            </div>
                        </form>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
</div>


<%- include('../../partials/public.scripts.ejs') %>
<script type="text/javascript" src="/dist/js/public.profile.first_time_change_password.min.js"></script>
</body>
</html>