<button class="btn btn-default btn-number" data-type="plus" id="btn_add"><i class="fa fa-plus" aria-hidden="true"></i></button>
<div class="edit-enable-btn-group">
    <label> Edit Table</label>
    <input type="checkbox"  data-toggle="toggle" id="enable">
</div>
<!-- The Modal -->
<div id="add_mod_modal" class="add_mod_modal">

    <!-- Modal content -->
    <div class="add_mod_modal-content">
        <form role="form" action="/users/moderators/create_xlsx" method="post" enctype="multipart/form-data">
            <span class="add_mod_close">×</span>
            <label>Chọn file excel</label>
            <input type="file" name="xlsx" accept=".xlsx, .xls" class="btn green " required>
            <input type="submit" name="upload" class="btn btn-primary submit-file" >
        </form>
    </div>
</div>
<script>
    // Get the modal
    var modal = document.getElementById('add_mod_modal');

    // Get the button that opens the modal
    var btn = document.getElementById('btn_add');

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("add_mod_close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
