<!-- bootstrap toggle-->
<link href="/vendor/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="/vendor/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>

<!-- x-editable -->
<link href="/vendor/x-editable/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="/vendor/x-editable/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<!-- Bootbox-->
<script src="/vendor/bootbox/bootbox.min.js"></script>

<!-- customize js -->
<script>
    // enable toggle
    $(document).ready(function () {
        $('.tdText').editable('disable');
        $('#enable').change(function () {
            $('#officer_table .editable').editable('toggleDisabled');
        });
    });

    // Get the modal
    var modal = document.getElementById('add_mod_modal');

    // Get the button that opens the modal
    var btn = document.getElementById('btn_add');

    // GEt the cancel button that close

    var cancel_btn = document.getElementsByName('upload')[0];

    // Get the <span> element that closes the modal
    //    var span = document.getElementsByClassName("add_mod_close")[0];


    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    cancel_btn.onclick = function () {
        modal.style.display = 'none';
    }

    //    // When the user clicks on <span> (x), close the modal
    //    span.onclick = function() {
    //        modal.style.display = "none";
    //    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    // Post link
    var action = '<%= actions %>';

    //push file to server
    var form = document.forms.namedItem("post_excel");
    form.addEventListener('submit', function (ev) {

        oData = new FormData(form);

        //oData.append("CustomField", "This is some extra data");

        var oReq = new XMLHttpRequest();
        oReq.open("POST", action, true);
        oReq.onload = function (oEvent) {
            if (oReq.status == 200) {
                bootbox.alert("Success!");
            } else {
                bootbox.alert("Error " + oReq.status);
            }
        };

        oReq.send(oData);
        ev.preventDefault();
        modal.style.display = "none";
    }, false);


    $(".office-search-item.link").click(function (e) {
        var a = $(this);

        // set text for drop-down menu
        $("#category-search-drop-menu-button").html(a.attr("data-name") + " <span class=\"caret\"></span>");
        if (a.attr("data-id") != null) {
            // set value for form

            $(".office-id").val(a.attr("data-id"));

        } else {
            $(".office_id").val(null);
        }


        e.preventDefault();
    });

    $(".form-control.category-search.input").keyup(function () {
        var input = $(".form-control.category-search.input");
        var searchText = input.val();

        console.log("keyup with text: " + searchText);

        $(".office-search-item").each(function (index) {

            var item = $(this);

            if (item.text().toLowerCase().indexOf(searchText.toLowerCase()) >= 0) {
                item.show();
            } else {
                item.hide();
            }
        })
    });

    $(".category-hierarchy.delete").click(function (e) {

        var a = $(this);

        bootbox.confirm({
            title: "Remove office?",
            message: "All of its descendants will also be removed.",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> Cancel'
                },
                confirm: {
                    label: '<i class="fa fa-check"></i> Confirm'
                }
            },
            callback: function (result) {
                if (result == true) {
                    window.location.href = "/categories/offices/delete?id=" + a.attr("data-id");
                    e.preventDefault();
                }
            }
        });
    });

</script>
