

<button class="btn btn-default btn-number" data-type="plus" id="btn_add"><i class="fa fa-plus" aria-hidden="true"></i></button>
<div class="edit-enable-btn-group">
    <label> Edit Table</label>
    <input type="checkbox"  data-toggle="toggle" id="enable">
</div>
<!-- The Modal -->
<div id="add_mod_modal" class="add_mod_modal">

    <!-- Modal content -->
    <div class="add_mod_modal-content">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#menu1">Register</a></li>
            <li><a data-toggle="tab" href="#menu2">Upload File</a></li>
        </ul>

        <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
                <form method="post" name="register" action="<%= createOneAction %>">
                    <div class="form-group">
                        <label for="unit_number">
                            <% if (role != "student") { %>
                                Officer Number:
                            <% } else { %>
                                Student Code:
                            <% }%>
                        </label>
                        <input type="number" class="form-control" id="unit_number" name="officer_number">
                    </div>
                    <div class="form-group">
                        <label for="email">User Name:</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="unit">Unit: </label>
                        <input class="unit-id" type="text" id="unit" name="unit_id" hidden>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="category-search-drop-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Not set
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>
                                    <div class="form-group input-group category-search">
                                        <input type="text" class="form-control category-search input">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </li>
                                <% units.forEach(function (unit) { %>
                                <li class="unit-search-item"><a href="#" data-name="<%=unit.name%>" data-id="<%=unit.id%>" class="unit-search-item link"><%=unit.name%></a></li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="full_name">
                    </div>
                    <input type="button" name="upload" class="btn btn-primary submit_file"  value="Hủy" >
                    <input type="submit" name="upload" class="btn btn-primary submit-file" style=" float:right;" >
                </form>
            </div>
            <div id="menu2" class="tab-pane fade">
                <form role="form"  method="post" enctype="multipart/form-data" name="post_excel" >
                    <label>Chọn file excel</label>
                    <input type="file" name="xlsx" accept=".xlsx, .xls" class="btn green " required>
                    <input type="button" name="upload" class="btn btn-primary submit_file"  value="Hủy" >
                    <input type="submit" name="upload" class="btn btn-primary submit-file" style=" float:right;" >
                </form>
            </div>
        </div>

    </div>
</div>